In [2]:
import pandas as pd
import os

In [6]:
gdb13_data = 'gdb13/gdb13.1M.freq.ll.smi'

df = pd.read_csv(gdb13_data, header=None, sep='\t')

In [ ]:
df[0]

In [8]:
df.columns = ['smiles', 'i', 'freq']

df.to_csv('gdb13/gdb13_rand1m.smi', index=False)

In [8]:
df[0][:50].to_csv('gdb13_rand1m_50.smi', header=None, index=False)

In [18]:
zinc_data = 'zinc/zinc.csv'
moses_data = 'moses/moses.txt'

zinc_df = pd.read_csv(zinc_data)
df.iloc[:, 0] = df.iloc[:, 0].str.replace('"', '', regex=False).str.strip()

In [13]:
import csv

In [21]:
zinc_df.to_csv('zinc/zinc.smi', quoting=csv.QUOTE_NONE, index=False, escapechar=',')

In [16]:
z = pd.read_csv('zinc/zinc.smi')

In [17]:
z

,smiles,logP,qed,SAS
0,CC(C)(C)c1ccc2occ(CC(=O)Nc3ccccc3F)c2c1,NaN,NaN,NaN
1,NaN,5.05060,0.702012,2.084095
2,C[C@@H]1CC(Nc2cncc(-c3nncn3C)c2)C[C@@H](C)C1,NaN,NaN,NaN
3,NaN,3.11370,0.928975,3.432004
4,N#Cc1ccc(-c2ccc(O[C@@H](C(=O)N3CCCC3)c3ccccc3)...,NaN,NaN,NaN
...,...,...,...,...
498905,NaN,2.90054,0.878086,1.840642
498906,Cc1cc(C(=O)Nc2ccc(OCC(N)=O)cc2)c(C)n1C1CC1,NaN,NaN,NaN
498907,NaN,2.55624,0.852917,2.024638
498908,O=C(CC(c1ccccc1)c1ccccc1)N1CCN(S(=O)(=O)c2cccc...,NaN,NaN,NaN
498909,NaN,3.64990,0.370287,2.214249